.header{
  background: rgb(255, 145, 222);
  color: rgb(0, 29, 174);
  box-sizing: border-box;
}

.header .wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right{
  text-align: right;

}
.logo{
  font-size: 20px;
  font-weight: bold;
}
.wrap{
  max-width: 1200px;
  margin: 0 auto;
}